parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method Filament\\Panel::currentPanel\(\)\.$#'
            identifier: method.notFound
            count: 1
            path: app-modules/identity/src/Users/User.php
        -
            message: '#^Call to an undefined method App\\Providers\\FilamentServiceProvider::getId\(\)\.$#'
            identifier: method.notFound
            count: 1
            path: app/Providers/FilamentServiceProvider.php
        -
            message: '#^Parameter \#1 \$path of function dirname expects string, string\|false given\.$#'
            identifier: argument.type
            count: 1
            path: app/Providers/Tools/SpatieBackupServiceProvider.php
